{% extends 'base.html.twig' %}

{% block title %}Événement - {{ parent() }}{% endblock %}

{% block body %}

    <div class="w-75 m-auto text-center">

        <div>

            <form class="input-group w-50 m-auto mt-5" method="get" action="">

                <input type="search" class="form-control rounded" placeholder="Recherche..." name="search" value="{{ app.request.get('search') }}"/>
                <button type="submit" class="btn btn-secondary">Recherche</button>

            </form>

        </div>

        <div>

            <h1 class="mt-5 fs-2 fw-bold" >
                Événements
                <img style="width: 50px" class="" src="{{ asset('img/checkmark.png') }}" alt="checkmark">    
            </h1>
            
            {# @todo - Nombre d'événement à venir dynamique #}
            <p>3 événements à venir</p>
        </div>

        <section class="">

            <div class="row" >

                {% for event in events %}

                    <div class="col-md-3 mb-4">
                        <div class="card text-start">
                            <div class="card-body">
                                <h1 class="card-title">{{event.name}}</h1>
                                <p class="card-subtitle">{{event.description}}</p>
                                <p class="card-text">Du {{ event.dateStart.format('d/m/Y à H:i') }} au {{ event.dateEnd.format('d/m/Y à H:i') }}</p>
                                <div class="d-flex flex-row align-items-center">
                                    <a class="d-inline-block btn btn-primary" href="">Voir</a>
                                    <p class="bg-success text-white rounded p-1 m-2 card-text">statut</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                {% endfor %}

            </div>

        </section>

    </div>

{% endblock %}
